<table class="vista_paciente" border="0" width="80%" align='center'>
    <tr class="titulo_vista">
        <td colspan="4">Identificación del Paciente</td>
    </tr>
    <tr class="dat_paciente_content">               
        <td width='25%'><label>Número Expediente:</label></td>
        <td width='25%' style="font-size: 14pt;">
        </td>
        <td colspan="2"><label>Nombre:</label>    
        </td>
    </tr>
</table>
