{% extends 'MinsalSiapsBundle::standard_layout.html.twig' %}

{% block sonata_admin_content -%}
<h4><img class="icono" src={{ asset('bundles/minsalsiaps/imagenes/buscar-paciente.png') }} />
    AQUI IRA LA PANTALLA DE BUSQUEDA</h4>

{% endblock -%}

