{% extends 'MinsalSiapsBundle::standard_layout.html.twig' %}
{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
    </div>
{% endblock %}
{% block sonata_admin_content -%}

Esto es una prueba!!!!!!!!
{% endblock -%}

