{% extends 'MinsalSiapsBundle::standard_layout.html.twig' %}

{% block sonata_admin_content -%}
    <table class="dat_paciente" border="0">
        <tr class="dat_paciente_sec">
            <td colspan="4">Identificación del Paciente</td>
        </tr>
        <tr class="dat_paciente_content">
            <td width=''>datos</td>
        </tr>
    </table>
{%endblock%}
