# Bootstrap
app/bootstrap*
 
# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
 
# Archivos de configuración
app/config/parameters.ini
app/config/parameters.yml
 
#Carpeta nbproject de netbeans
nbproject/

#Archivos de respaldo
*~

#Archivo de configuración del JasperServerReport
src/Minsal/SiapsBundle/Util/JasperReport/_jasperserverreports.php
