/**********  Para tablas ******************/
.dat_ingreso{
    text-align: left;
    border: 2px solid #E3E3E3;
    position: relative;
    left: 100px;
}
.dat_ingreso label{
    padding-left: 1em;
    text-align: left;  
    display: inline;
    margin-bottom: 0;
}

.dat_ingreso input{
    width: 50%;
}

.sonata-bc .row-fluid .span5 {
    width: 80%;
}

.sonata-bc .dat_ingreso .control-group, .sonata-bc .dat_ingreso .control-group label{
    margin-bottom: 0;
}

.sonata-bc .form-horizontal .dat_ingreso .controls {
    padding-bottom: 2px;
    padding-top: 2px;
}

.sonata-bc .form-horizontal .dat_ingreso .control-label {
    text-align: left;
    padding-left: 1em;
}

.dat_ingreso_sec{
    background-color: #B0C4DE;
    font-weight: bold;
    height: 2.3em;
}

.dat_ingreso_content{
    vertical-align: middle;
    padding-bottom: 0.3em;
}

#form_ingreso .ui-datepicker-trigger{ 
    display: inline; 
}
select[id$="_hour"], select[id$="_minute"]{
    width : 70px;
}