@media (min-width: 979px) {
    body.sonata-bc {
        padding-top: 0px;
        background:-moz-linear-gradient(top,#a9c56a,#afc57d);
        background: -webkit-linear-gradient( top, #a9c56a,#afc57d);
    }
}

#banner{
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 70%;
    padding-top: 0em;
}

div#prueba{
    background-image:url('../imagenes/fondo.png');
    /*    background-color: ;**/
    background-repeat:no-repeat;
    background-position: 50% 15%;
    width:100%; 
    min-height: 525px;
    /*  z-index:200;*/
}

div#divpie{
    position: fixed;
    color: #E6E6E6;
    font-size:12px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    top: 96%;
    height: 29px;
    font-weight: bold;
    width: 85%;

    /* -- CSS3 - Gradiente de fondo -- */
    /*  background: -webkit-linear-gradient( 0deg ,whitesmoke,#749ecb,#266ebb);
      background: -moz-linear-gradient( 0deg ,whitesmoke,#749ecb,#266ebb);*/
    background: -webkit-linear-gradient( 0deg ,#e4e7ec,#2f5d96);
    background: -moz-linear-gradient( 0deg ,#e4e7ec,#2f5d96)
}
#divpie img{
    margin-top: 3px;
    margin-right: 0px;
    text-align: right;
}

div#pagina{
    width:85%; 
    text-align: center;
    margin-left: auto ;
    margin-right: auto ;
    background-color:whitesmoke;
    min-height: 525px;

    border-top: 3px solid #bebebe;
    border-left: 2px solid #535353;
    border-right: 2px solid #535353;
}
.sonata-bc div.connection {
    border: 1px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 2px 2px 10px #CCCCCC;
    left: 50%;
    margin: 10px 0 0 -250px;
    position: relative;
    top: 35%;
    width: 460px;
}

.editable{
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid #CCCCCC;
}

.unstyled {
    max-height: 280px;
    overflow-y: auto;
    border: 1px solid #CCCCCC;        
}
/**para ajustar la imagen que aparece a la par de los nombres de los campos en las listas de mantenimiento */
.sonata-bc th.sonata-ba-list-field-header-order-desc:hover:before {
    display: inline-block;
    position: relative;
}

.sonata-bc th.sonata-ba-list-field-header-order-asc:hover:before {
    display: inline-block;
    position: relative;
}

.sonata-bc th.sonata-ba-list-field-header-order-desc,
.sonata-bc th.sonata-ba-list-field-header-order-asc {
    position: relative;
}

.sonata-bc th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active:before,
.sonata-bc th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active:hover:before {
    display: inline-block;
    position: relative;
}

.sonata-bc th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active:before,
.sonata-bc th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active:hover:before {
    display: inline-block;
    position: relative;
}

.justificado{
    text-align: left;
    margin-left: 20%;
}

.justificado .modalidad{
    font-size: 15px;
    color:black;
    background-color: #a9c56a;
}

.justificado .areaAtencion{
    color:black;
    font-size: 13px;
    background-color: #B6CFFC;
}

.justificado .atencion{
    font-size: 13px;
    color:black;
}

.justificado .atencionHijo{
    text-indent: 1.5em;
    font-size: 13px;
    color:black;
    font-style: italic;
}

.justificado .tipos{
    background-color: lightgray;
    font-weight: bold;
    font-size: 13px;
    color: black;
}
