{%block javascripts %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#btningreso{{ idPaciente }}').click(function() {
            url = Routing.generate('hoja_ingreso_egreso') + '/hojaIngresoEgreso/PDF?paciente={{idPaciente}}&ingreso={{idIngreso}}'
            window.open(url, '_blank');
            return false;
        });

    });
</script>
{%endblock%}
<a id="btningreso{{ idPaciente }}" href="" class="btn btn-info">
    <span class="glyphicon glyphicon-book"></span> Hoja de Ingreso
</a>